body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.queryLabel{

    display: flex; /*  */
    flex-direction: row;
    margin: 20px;

}

.queryBlock .queryLabel h2{

    margin: 0px ;
    text-align: center;
    
}



.queryArea{

    background-color: rgb(233, 228, 228);
    min-height: 200px;
    border: 2px solid black;

    margin: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.queryArea h3{

    font-size: 18px;
    font-weight: bold;
    padding-left: 20px;
    margin: 0px;
}

.relationGraph{

    margin: 20px;

}